@use "./colors" as *;

.main-container__wrapper {
  .edit-main-right {
    width: 100%;
  }
}

.form-edit-toy__container {
  margin: 1.5rem 0;

  .edit-existing-toy {
    .form-control {
      margin-bottom: 1.5rem;

      label {
        display: block;
      }

      input {
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 0 0 2px 0 $grey;
        color: $grey;

        &:hover,
        &:focus {
          box-shadow: 0 0 4px 0 $blue;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }

      .toy-image__display {
        box-shadow: 0 0 1px 1px #d6d3d1;
        border: 6px solid white;
        border-radius: 5px;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: 15rem;
          object-fit: contain;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .form-edit-toy__container {
    margin-top: 3rem;
    .edit-existing-toy {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2rem;

      .form-control {
        .toy-image__display {
          img {
            height: 13.5rem;
            object-fit: cover;
          }
        }
      }

      .new-toy-image__wrapper {
        margin-top: 1.75rem;
      }

      .btn-edit-save {
        margin-left: auto;
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .form-edit-toy__container {
    max-width: 40rem;
    margin: 3rem auto 1.5rem;
  }
}
